{{!-- maka a map with search --}}
{{!-- search for resources nearby --}}

<h1>Map Will Be Here</h1>
<button type="submit" class="btn" onclick="mapFormHandler(event)">Create</button>
<script src="/javascript/fuzzysearch.js"></script>