{{!-- maka a map with search --}}
{{!-- search for resources nearby --}}

<h1>Map Will Be Here</h1>
<button class="btn" onclick="mapFormHandler(event)">Create</button>
{{!-- <img src="https://a.api.tomtom.com/map/1/tile/basic/main/1/0/0.png?key=API_KEYHERE&tileSize=512"/> --}}
<script src="/javascript/fuzzysearch.js"></script>