<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SafeSpot</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <header>
    <div class="header">
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#" class="brand-logo">SafeSpot</a></li>
            <li class="uk-flex-right"><a href="/">GET HELP</a></li>
            {{#if loggedIn}}
            <li class="uk-flex-right"><a href="/dashboard">dashboard</a></li>
            <li class="uk-flex-right"><a id="logout" href="/">logout</a></li>
            {{else}}
            <li class="uk-flex-right"> <a href="/login">login</a></li>
            {{/if}}
          </ul>

        </div>
      </nav>
    </div>
  </header>


  <main>
    {{{ body }}}
  </main>


  <div class="footer">
    Thanks for visiting!
  </div>



  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.7/dist/js/uikit-icons.min.js"></script>

</body>

</html>