<div class="uk-container uk-container-xsmall uk-width-responsive">
          {{> get-help}}
</div>
 
{{#if loggedIn}}
<h1 class="uk-heading-line uk-text-center">Thoughts From Others</h1>
<div class="row uk-margin-left uk-margin-right">
  <div>
<ul>
        {{#each posts as |post|}}
        <li>
          {{> post-info post }}
        </li>
        {{/each}}
      </ul>

</div>
   
</div>
{{/if}}