<div class="uk-child-width-1-3@s uk-grid-match" uk-grid-match>
  <div class="uk-card-body">
    <form class="login-form">
      <div class="uk-card">

      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon:  mail"></span>
          <label for="email-login"></label>
          <input type="text" class="uk-padding-small" id="email-login" />
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <label for="password-login"></label>
          <input type="password" class="uk-padding-small" id="password-login" />
        </div>
      </div>
      <div>
        <button class="uk-button uk-button-danger" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="uk-card-body">
    <form class="signup-form">
      <div>
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <label for="username-signup"></label>
            <input type="text" class="uk-padding-small" id="username-signup" />
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: mail"></span>
          <label for="email-signup"></label>
          <input type="text" class="uk-padding-small" id="email-signup" />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <label for="password-signup"></label>
          <input type="password" class="uk-padding-small" id="password-signup" />
        </div>
      </div>
      <div>
        <button class="uk-button uk-button-danger" type="submit">signup</button>
      </div>
    </form>

  </div>
</div>
</div>


<script src="/javascript/login.js"></script>