<div class="uk-child-width-1-3@s uk-padding top" uk-grid>
    <div>
        <div class="uk-panel uk-margin-top  uk-object-scale-down">
            {{> post-info post}}
        </div>
    </div>
    <div >
        <form class="comment-form">
        <div class="uk-panel uk-margin-top  uk-object-scale-down">
            <h3 class="uk-text-center">Add A Comment</h3>
            <textarea name="comment-body" id="comment-body" class="uk-textarea uk-border-rounded" rows="10" cols="100"
                placeholder="Add Comment Here"></textarea>
            <button class="uk-button uk-button-danger uk-position-default uk-border-rounded" type="submit"> ADD
                COMMENT</button>
        </div>
        </form>
    </div>
    <div>
        <div class="uk-panel uk-margin-top  uk-object-scale-down">
            {{> comments post.comments}}
            {{#if loggedIn}}
        </div>
        {{/if}}
    </div>
</div>

<script src="/javascript/comment.js"></script>