

:root{
  background-color: #ecc488;
  background-image: url('/stylesheets/images/background-sun.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
} 

.header {
    padding: 2px;
    text-align: center;
    background-color:#F3D5C0;
    color: rgb(19, 18, 18);
    font-size: 30px;
  }
  .uk-button-danger {
    background-color: #F5CEBE;
    color: #fff;
    border: 1px solid transparent;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color:#F3D5C0 ;
}
.uk-comment-primary {
  padding: 30px;
  background-color: #fae5c4;
  opacity: 0.9;
}
.uk-border-rounded {
  border-radius: 20px;
}

.footer {
  background-color: #ecc488;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.uk-position-center {
  top: calc(50% - var(--uk-position-margin-offset));
  left: calc(50% - var(--uk-position-margin-offset));
  --uk-position-translate-x: -50%;
  --uk-position-translate-y: -50%;
  transform: translate(var(--uk-position-translate-x),var(--uk-position-translate-y));
  width: max-content;
}
.uk-card-default {
  background-color: rgba(255, 255, 255, 0);
  color: #666;

}

.uk-comment-primary {
  padding: 20px;
  background-color: #fae5c4;
  opacity: 0.9;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        font-family: Roboto;
        padding: 0;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }